<div class="footer">
  <div class="contact">
    <p>
    soramugi<br />
    Yudai Tsuyuzaki
    </p>
  </div>
  <div class="contact">
    <p>
    <a href="https://github.com/soramugi">github.com/soramugi</a><br />
    <a href="https://twitter.com/soramugi">twitter.com/soramugi</a><br />
    <a href="https://www.facebook.com/Yudai.Tsuyuzaki">facebook.com/Yudai.Tsuyuzaki</a><br />
    <a href="http://soramugi.tumblr.com">soramugi.tumblr.com</a><br />
    <a href="http://qiita.com/soramugi">qiita.com/soramugi</a><br />
    </p>
  </div>
</div>
